@model ChitalkaMVC.Storage.Entities.Author

<h4>New Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select required asp-for="CountryId"><option value="">Choose Country</option>
                        @await Component.InvokeAsync("ListCountries")
                </select>
                <label asp-for="Name" class="control-label"></label>
                <input required asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorImage.ImageFile" class="control-label"></label>
                <input required asp-for="AuthorImage.ImageFile" accept="image/*" />
                <span asp-validation-for="AuthorImage.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
